{% extends 'base.html' %}
{% block content %}
  <p><a href={% url 'contacts:partner_edit' company.pk %}>Редактировать</a>
  <a href={% url 'contacts:partner_delete' company.pk %}>Удалить</a>
  <a href={% url 'contacts:contact_new_with_partner' company.pk %}>Новый контакт в компании</a>
  <a href={% url 'contacts:partner_edit' company.pk%}>Заполнить Реквизиты</a>
  <a href={% url 'tasks:interest_new_with_partner' company.pk%}>Новый интерес</a>
  {% include 'contacts/includes/partner.html' %}
  <h3>Текущие интересы</h3>
  {% for interest in interests %}
    <li>{% include 'tasks/includes/interest.html' %}</li>
  {% endfor %}
  <h3>Контакты в компании</h3>
  {% for contact in contacts %}
    <li>{% include 'contacts/includes/compacts/contact_short.html' %}</li>
  {% endfor %}
  <h3>Текущие проекты</h3>
  {% for project in projects %}
    <li>{% include 'tasks/includes/project.html' %}</li>
  {% endfor %}
  <h3>Архивные проекты</h3>
  {% for project in old_projects %}
    <li>{% include 'tasks/includes/project.html' %}</li>
  {% endfor %}
{% endblock %}