{% extends 'base.html' %}

{% block content %}

  <br><a href={%  url "tasks:task_new" %}>Новая задача</a>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Просрочено</h1>
        {% for task in tasks_new %}
          {% include 'tasks/includes/task.html' %}
        {% endfor %}
      </div>
      <div class="col">
        <h1>Текущие</h1>
        {% for task in tasks %}
        <div class="container">
          {% include 'tasks/includes/task.html' %}
        </div>
        {% endfor %}
      </div>
      <div class="col">
        <h1>Предстоящие</h1>
        {% for task in upcoming_tasks %}
          {% include 'tasks/includes/task.html' %}
        {% endfor %}
      </div>
      <div class="col">
        <h1>Завершенно</h1>
        {% for task in tasks_done %}
          {% include 'tasks/includes/task.html' %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}