{% load static %}
<nav class="navbar navbar-expand-lg bg-warning">
  <div class="container-fluid">
    <h1>Откис<img src={% static "img/logo.png" %} width="30" height="30" class="d-inline-block align-top" alt=""></h1>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link active" href="{% url 'contacts:contacts' %}">Контакты</a></li>
        <li class="nav-item"><a class="nav-link active" href="{% url 'contacts:communications' %}">Коммуникации</a></li>
        <li class="nav-item"><a class="nav-link active" href="{% url 'contacts:partners' %}">Компании</a></li>
        <li class="nav-item"><a class="nav-link active" href="{% url 'tasks:tasks' %}">Дела</a></li>
        <li class="nav-item"><a class="nav-link active" href="{% url 'tasks:projects' %}">Проекты</a></li>
        <li class="nav-item"><a class="nav-link active" href="{% url 'tasks:interests' %}">Интересы</a></li>
      </ul>
  </div>
</nav>