{% extends 'base.html' %}
{% block content %}
    {% block form %}
    {% endblock %}
    <ul>
    {% for field in form %}
      <li>
        <label for="{{ field.id_for_label }}">
          {{ field.label }}
            {% if field.field.required %}
              *
            {% endif %}
        </label>
        {{ field }}
        {% if field.help_text %}
          {{ field.help_text}}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
    <button type="submit">Сохранить</button>
    </form>
{% endblock %}