{% extends 'base.html' %}
{% block navbar %}
  {% include 'contacts/includes/navbar.html' %}
{% endblock %}
{% block content %}
    {% block form %}
    {% endblock %}
    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
            {{ error|escape }}
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        {{ error|escape }}
      {% endfor %}
    {% endif %}
    <ul>
    {% for field in form %}
      <li>
        <label for="{{ field.id_for_label }}">
          {{ field.label }}
            {% if field.field.required %}
              *
            {% endif %}
        </label>
        {{ field }}
        {% if field.help_text %}
          {{ field.help_text}}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
    <button type="submit">Сохранить</button>
    </form>
{% endblock %}