<a href={% url 'contacts:communication_profile' communication.pk %}>{{ communication.type }}</a>
<a href={% url 'contacts:contact_profile' communication.contact.pk %}>{{ communication.contact.name }}</a>
<br>{{ communication.pub_date }}
<br>Статус - {{ communication.status }}
  {% if communication.status == "Запланировано" %}
    - <a href={% url 'contacts:communication_complete' communication.pk %}>Выполнить</a>
  {% endif %}
<br>Планируемая дата - {{ communication.plan_date }}
{% if communication.status == "Запланировано" %}
  {% if communication.is_expired %}
    <br>Просрочен!
  {% else %}
    <br>Не просрочен
  {% endif %}
{% endif %}
<br>Описание: {{ communication.info }}
<br><small><a href={% url 'contacts:communication_delete' communication.pk %}>Удалить</a></small>
<small><a href={% url 'contacts:communication_edit' communication.pk %}>Редактировать</a></small>


