<a href={% url 'contacts:contacts_profile' contact.pk %}>{{ contact.name }}</a>
<p>Email - {{ contact.email }}
<p>Член семьи - {{ contact.is_family }}
<p>Частота общения, дней - {{ contact.frequency_of_communications_days }}
<p>День рождения - {{ contact.date_date_of_birthday }}
{% if contact.company %}
    <p><a href={% url 'contacts:partner_profile' contact.company.pk %}>Компания - {{ contact.company.short_name }}</a>
{% else %}
    <p>Компания - Не указана</a>
{% endif %}
<p><small><a href={% url 'contacts:contact_edit' contact.pk %}>Редактировать</a></small>
<small><a href={% url 'contacts:contact_delete' contact.pk %}>Удалить</a></small>
