<ul>
  <li style="display: inline-block"><a href="{% url 'contacts:contacts' %}">Контакты</a></li>
  <li style="display: inline-block"><a href="{% url 'contacts:communications' %}">Коммуникации</a></li>
  <li style="display: inline-block"><a href="{% url 'contacts:partners' %}">Компании</a></li>
  <li style="display: inline-block"><a href="{% url 'tasks:tasks' %}">Задачи</a></li>
  <li style="display: inline-block"><a href="{% url 'tasks:projects' %}">Проекты</a></li>
  <li style="display: inline-block"><a href="{% url 'tasks:interests' %}">Интересы</a></li>
</ul>