<h3>{{ company.full_name }}</h3>
<a href={% url 'contacts:partner_profile' company.pk%}>Вернуться к профилю компании</a>
<a href={% url 'contacts:partner_edit' company.pk%}>Заполнить Реквизиты</a>
<br><br><i>{{ company.short_name }}</i>
<table>
  <tr><th>Код</th></tr>
  <tr><td>ИНН</td><td>{{ company.inn }}</td></tr>
  <tr><td>КПП</td><td>{{ company.kpp }}</td></tr>
  <tr><td>ОГРН</td><td>{{ company.ogrn }}</td></tr>
  <tr><td>ОКПО</td><td>{{ company.okpo }}</td></tr>
  <tr><td>ОКВЭД</td><td>{{ company.okved }}</td></tr>
  <tr><th>Адрес</th></tr>
  <tr><td>Фактический</td><td>{{ company.fact_adress }}</td></tr>
  <tr><td>Юридический адресс</td><td>{{ company.legal_adress }}</td></tr>
  <tr><th>Основыные контакты</th></tr>
  <tr><td>Email</td><td>{{ company.main_email }}</td></tr>
  <tr><td>Номер телефона</td><td>{{ company.phone_number }}</td></tr>

<tr><th>Реквизиты</h5>
<tr><td>Расчетный счет</td><td>{{ company.number_acount }}</td></tr>
<tr><td>Корреспондентский счет</td><td>{{ company.cor_acount }}</td></tr>
<tr><td>БИК</td><td>{{ company.cor_acount }}</td></tr>
<tr><th>Руководитель</th></tr>
<tr><td>Руководитель</td><td>{{ company.head_of_company }}</td></tr>
</table>